{% extends "layout.html" %}

{% block title %}
    Achieve your health goals
{% endblock %}

{% block header %}
    Get ready to GetFit
{% endblock %}

{% block description %}
    Welcome to your one stop shop for building a healthy diet, that helps you acheive your goals!
{% endblock %}


{% block main %}
    <div class="box small">
        <a href="/target">
            <div class="target">
                <span>Target Nutrients</span>
            </div>
        </a>
        <a href="/meal_planner">
            <div class="mealPlanner">
                <span>Meal Planner</span>
            </div>
        </a>
        <a href="/food_lookup">
            <div class="foodLookup">
                <span>Food Lookup</span>
            </div>
        </a>
    </div>

    <script>
    </script>
{% endblock %}
